@{
    ViewBag.Title = "Home Page";
}


<div class="row row-space">
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                @Html.Label("Start Date")
            </div>
            <div class="col-md-6 col-sm-12">
                @Html.EJ().DatePicker("datepick")
            </div>
        </div>
    </div>
</div>