@{
    ViewBag.Title = "Home Page";
}

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

<div class="control">
    <input type="text" id="CityId" />
    <div class="ctrllabel">Select a Company Name</div>
    <input type="text" id="CityName" />
</div>

<script type="text/javascript">


    $(function () {
        var dataSource = ej.DataManager({
            url: "https://js.syncfusion.com/ejServices/Wcf/Northwind.svc/Customers",
            crossDomain: true
        });
        var query = ej.Query().select("CompanyName", "CustomerID").where("CompanyName", "equal", "Wilman Kala", false);
        $('#CityId').ejDropDownList({
            dataSource: dataSource,
            fields: { text: "CompanyName", value: "CustomerID" },
            value: "ISLAT",
            width: '100%',
            select: onSelect
        });

        $('#CityName').ejDropDownList({
            dataSource: dataSource,
            query: query,
            fields: { text: "CompanyName", value: "CustomerID" }, 
            watermarkText: "shared.select-city-wmark",
            width: '100%',
            itemsCount: 20,
            enableFilterSearch: true,
            enableServerFiltering: true,
            allowVirtualScrolling: true,
            enableSorting: true,
            search: function (args) {
                if (args.searchString.length < 3) { //check search string length
                    args.cancel = true;
                    return;
                }
                this.model.itemsCount = 0;
            }
        });
    });
    function onSelect() {
            var cityDropDown = $('#CityName').ejDropDownList("instance");
            cityDropDown.setModel({ value: $('#CityId').val() });
        }
</script>