@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups

<div class="row">
    <div class="@colOneClass">
        <SfButton ID="ChangeSizeButton" Content="Change Size" OnClick="ChangeSize"></SfButton>
    </div>
    <div class="col-lg-7 control-section">
        <SfTooltip ID="toolTP" Content="@("Sample ToolTip")" Target="#MyButton" OpensOn="Click" @ref="toolTp">
            <SfButton ID="MyButton" Content="Show Tooltip"></SfButton>
        </SfTooltip>
    </div>
</div>

@code
{
    SfTooltip toolTp;
    private int cols = 5;
    private string colOneClass => $"col-lg-{cols}";

    private async Task ChangeSize()
    {
        cols = cols == 5 ? 2 : 5;
        await Task.Delay(50);
        await toolTp.RefreshPosition();
    }
}