@{
    ViewData["Title"] = "Home Page";
}

<ej-date-picker id="datepicker" value="@DateTime.Now" time-zone="false"></ej-date-picker>

<ej-date-time-picker id="Datetime" width="175px" time-zone="false" value="@DateTime.Now"></ej-date-time-picker>




<label>Organized Date</label>
<ej-date-picker id="datepicker1" value="@DateTime.Now" ></ej-date-picker>

<ej-date-picker id="datepicker2" value="01/01/1964" date-format="MM/dd/yyyy"></ej-date-picker>

<ej-date-picker id="datepicker3" value="5/12/2017"></ej-date-picker>

<ej-date-picker id="datepicker4" value="01/01/2020" date-format="MM/dd/yyyy"></ej-date-picker>