<div class="ctrllabel">Select a Item in Autocomplete</div>
<br/>
<input id="autodefault" type="text" ej-autocomplete width="100%" [fields]="fields" [dataSource]="states" [(ngModel)]="states.countryName"  />
<br/>
<br/>
<br/>
<br/>
<input id="name" type="text" [(ngModel)]="states.countryName"  />

<br/>
<div class="ctrllabel">Select a Item in ComboBox</div>
<br/>

<input id="comboDefault"  ej-combobox [autofill]='true' [allowCustom]='false' [dataSource]="states" [fields]="fieldsvalues" width="100%" [(ngModel)]="states.countryName" (ejchange)="onChange($event)" (blur)="onBlur($event)" />
<button (click)="onClick($event)">Change</button>