@page "/"
@using System.Collections
@using Syncfusion.EJ2.Blazor.Inputs

<EjsTreeView TValue="MailItem" @ref="tree" ExpandedNodes="@ExpandedNode">
    <TreeViewFieldsSettings TValue="MailItem" Id="Id" DataSource="@MyFolder" Text="FolderName" ParentID="ParentId" HasChildren="HasSubFolders" Expanded="Expanded"></TreeViewFieldsSettings>
    <TreeViewEvents TValue="MailItem" NodeExpanded="OnExpand" NodeCollapsed="OnExpand"></TreeViewEvents>
</EjsTreeView>

<button @onclick="@setValue">Set Multiple  Value</button>
<button @onclick="@collpase">CollapseAll</button>

@code{
    EjsTreeView<MailItem> tree;
    ArrayList MyList = new ArrayList();
    string ExpandNode = null;
    public string[] ExpandedNode = new string[] { };
    public class MailItem
    {
        public string Id { get; set; }
        public string ParentId { get; set; }
        public string FolderName { get; set; }
        public bool Expanded { get; set; }
        public bool HasSubFolders { get; set; }
    }
    void OnExpand(NodeExpandEventArgs args)
    {
        if (tree.ExpandedNodes.Length != 0)
        {
            @foreach (var x in tree.ExpandedNodes)
            {
                Console.WriteLine("Expanded Nodes: " + x);
            }
        }
        else
        {
            Console.WriteLine("Expanded Nodes: null");
        }
    }

   
    void setValue()
    {

        MyList.Add("1");
        MyList.Add("2");
        ExpandedNode = (string[])MyList.ToArray(typeof(string));
        tree.ExpandedNodes = ExpandedNode;
        MyList.Clear();
    }
    void setValueMethod()
    {
        string[] treeNodes = new string[] { "1", "2" };
        tree.ExpandAll(treeNodes);
    }

    void collpase()
    {
        tree.CollapseAll();
    }

    List<MailItem> MyFolder = new List<MailItem>();
    protected override void OnInitialized()
    {
        base.OnInitialized();
        MyFolder.Add(new MailItem
        {
            Id = "1",
            FolderName = "Inbox",
            HasSubFolders = true,
        });
        MyFolder.Add(new MailItem
        {
            Id = "2",
            ParentId = "1",
            HasSubFolders = true,
            FolderName = "Categories"
        });
        MyFolder.Add(new MailItem
        {
            Id = "3",
            ParentId = "2",
            FolderName = "Primary"
        });
        MyFolder.Add(new MailItem
        {
            Id = "4",
            ParentId = "2",
            FolderName = "Social"
        });
        MyFolder.Add(new MailItem
        {
            Id = "5",
            ParentId = "2",
            FolderName = "Promotions"
        });
        MyFolder.Add(new MailItem
        {
            Id = "6",
            FolderName = "Others",
            HasSubFolders = true,
            Expanded = true
        });
        MyFolder.Add(new MailItem
        {
            Id = "7",
            ParentId = "6",
            FolderName = "Sent Items"
        });
        MyFolder.Add(new MailItem
        {
            Id = "8",
            ParentId = "6",
            FolderName = "Delete Items"
        });
        MyFolder.Add(new MailItem
        {
            Id = "9",
            ParentId = "6",
            FolderName = "Drafts"
        });
        MyFolder.Add(new MailItem
        {
            Id = "10",
            ParentId = "6",
            FolderName = "Archive"
        });

    }

}