<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.2" targetFramework="net452" />
  <package id="Microsoft.TypeScript.Compiler" version="3.1.5" targetFramework="net452" developmentDependency="true" />
  <package id="Syncfusion.Ej.Web.TypeScript.DefinitelyTyped" version="16.4.0.52" targetFramework="net452" />
</packages>