@{
    ViewData["Title"] = "Home Page";
}



<ej-date-picker id="datepicker" value="@DateTime.Now"></ej-date-picker>

<ej-dialog id="basicDialog">
    <e-content-template>
        <div class="cnt">
            This is sample content.
        </div>
    </e-content-template>
</ej-dialog>