@{
    ViewData["Title"] = "Home Page";
}

<button id="close">Close Tooltip</button>
<ejs-tooltip id="Tooltip" content="Lets go green & Save Earth !!!" beforeClose="OnClose">
    <!-- Target element -->
    <e-content-template>
        <span id='target'>Show Tooltip</span>
    </e-content-template>
</ejs-tooltip>
<script>
    var isClicked = false;
    document.addEventListener('DOMContentLoaded', function () {
        var tooltip = document.getElementById("Tooltip").ej2_instances[0];
        tooltip.open();
        document.getElementById('close').onclick = function (e) {
            isClicked = true;
            tooltip.close();
            
        }
    })

    function OnClose(args) {
        if (!isClicked) {
            args.cancel = true;
        }
    }

</script>
<style>
    #Tooltip {
        position: absolute;
        left: calc( 50% - 60px);
        top: 38%;
    }
</style>