@{
    ViewBag.Title = "Contact";
}
@section featured {
 <div class="contact">
      <div class="office">
  <div class="titletxt">Contact us</div>
  <br />
  <div class="rduoffice">
  <div class="officetitle">RDU Office</div>
  <p>
  Company Headquaters<br />
2501 Aerial Center Parkway<br />
Suite 200<br />
Morrisville, NC 27560<br />
USA<br />
Ph: +1 919 481 1999<br />
Email: info@syncfusin.com<br />
  </p>
 </div>
 <div class="chnoffice">
 <div class="officetitle">Chennai Office</div>
 <p>
EYMARD Complex<br />
AJ 217, 4th Avenue, Shanthi Colony,<br />
Anna Nagar<br />
Chennai-40<br />
India<br />
+91 44 26210413<br />
Email: info@syncfusin.com<br />
</p>
 </div>
  </div>
     </div>
}
