<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.7.1" targetFramework="net452" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.2" targetFramework="net452" />
  <package id="jQuery.Validation" version="1.9" targetFramework="net452" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="2.0.20710.0" targetFramework="net452" />
  <package id="Syncfusion.Ej.Web.TypeScript.DefinitelyTyped" version="16.4.0.52" targetFramework="net452" />
  <package id="Syncfusion.JavaScript" version="18.3.0.44" targetFramework="net452" />
</packages>